* {
box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 200;
}

h2 {
    text-transform: uppercase;
    font-size: 12pt
}

h3 {
    font-weight: 400;
    margin: 2vh;
}

a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
}

/* styling for header */
header {
    background-color: #F5F5F5;
    padding: 15px;
    width: 100%;
    position: relative;
}

ul.nav-bar {
    padding: 0;
}
.nav-bar li {
    list-style-type: none;
    background-color: #ffffff;
    padding: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 600;
}

header img {
    width: 75%;
    padding: 15px;
}


/* styling for portfolio project sections */
article.main {
    background-color: #ffffff;
    width: 100vw;
}

.project img {
    width: 95vw;
}

.project p {
    margin-top: 2vh;
    margin-bottom: 6vh;
}

/* styling for footer */
footer {
    background-color: #F5F5F5;
    padding: 15px;
}

.contact a {
    font-weight: 400;
    text-transform: lowercase;
}

.footer-nav {
    font-weight: 600;
    font-size: 12px;
}

.footer-nav p{
    display: inline;
    padding-right: 12vw;
}

.footer-nav a {
    display: inline-block;
    padding-left: 12vw;
}

.footer-nav .large-link {
    display: none;
}

/* Styles for Table Screens */

@media screen and (min-width: 768px) {
    /* header style */
    .nav-bar li {
        list-style-type: none;
        background-color: #F5F5F5;
        display: inline-block;
    }
    header img {
        width: 30vw;
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
    header p {
        width: 55vw;
        text-align: left;
        margin: 5vw;
    }
    /* main style */
    /* main{

    } */
    article.main {
        display: block;
    }
    .project {
        margin: auto;
        display: block;
        width: 40vw;
        height: 45vw;
        float: right;
    }
    .project img {
        width: 35vw;
    }
    /* footer style */
    section.contact {
        width: 70vw;
        margin: 20px auto 20px auto;
    }
    .footer-nav .large-link {
        display: inline-block;
    }
    .footer-nav .mobile-link {
        display: none;
    }
}


/* Styles for Large Screens */