* {
    box-sizing: border-box;
    }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 200;
    color: #383448;
}

h2 {
    text-transform: uppercase;
    font-size: 12pt;
    margin: 5vh 0;
}

h3 {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #383448;
    font-weight: 600;
    text-transform: uppercase;
}

a:hover {
    color: #6CCDC1;
}

img {
    max-width: 90vw;
}

/* styling for header */
header {
    background-color: #E1DED9;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.nav-bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
}

.nav-bar a {
    list-style-type: none;
    background-color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 0;
    margin: 5px 0;
    width: 90vw;
}

header img {
    max-width: 65vw;
    padding-top: 4vh;
    max-width: 330px;
    max-height: 230px;    
}

/* styling for portfolio project sections */
main {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 10px;
}

.project p {
    padding: 20px 40px;
    margin-top: 0;
}

/* styling for footer */
footer {
    background-color: #E1DED9;
    padding: 20px;
    width: 100vw;
}

.contact a {
    font-weight: 400;
    text-transform: lowercase;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mobile-first {
    font-weight: 600;
    flex-basis: 50%;
    text-align: left;
}

.footer-nav #to-top {
    text-align: right;
}

.large-link {
    display: none;
}

/* Styles for Tablet Screens */
@media screen and (min-width: 768px) {
    /* header style */
    header {
        width: 100vw;
    }

    h1 {
        padding-top: 2vh;
    }

    .nav-bar {
        flex-direction: row;
        justify-content: center;
    }

    .nav-bar a {
        background-color: #E1DED9;
        width: 20vw;
    }

    section.student-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2vh;
    }

    section.student-details p {
        width: 50vw;
        order: -1;
        text-align: left;
        font-size: 16pt;
    }

    section.student-details img {
        width: 35vw;
    }

    /* portfolio style */
    article#portfolio {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #portfolio h2 {
        width: 80vw;
        font-size: 2.5vh;
    }

    section.project {
        flex-grow: 1;
        width: 35vw;
        font-size: 1.75vh;
    }

    section.project img {
        width: 40vw;
    }

    section.project p {
        font-size: 1.5vw;
    }

    /* footer style */
    .contact {
        margin: auto;
        width: 75vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact h2 {
        margin-bottom: 3vh;
    }
    
    #to-top {
        display: none;
    }

    .large-link {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}

/* Styles for Large Screens */
@media screen and (min-width: 1024px) {
    /* header style */
    .header-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

    h1 {
        text-align: left;
    }

    nav {
        justify-content: flex-end;
        width: 40vw;
    }

    /* portfolio style */
    section.project {
        flex-grow: 1;
        width: 25vw;
        font-size: 1.75vh;
    }

    section.project img{
        width: 30vw;
    }
}